@media ( 375px <= width <= 990px ) {   
    .nav-ul {
        display: none;
    }
    
    .nav-menu {
        display: inline;
        position: relative;
        top: .5rem;
        left: 17.8rem;
    }

    .conteiner-menuBar {
        background-color: hsl(36, 100%, 99%);
        position: absolute;
        left: 43.4rem;
        height: 100%;
        width: 30%;
    }

    .conteiner-menuBar-menuClose{
        position: absolute;
        left: 59.15rem;
        bottom: 48.5rem;
    } 
}