@media (375px <= width <= 420px) {
  /* Vertical Homepage */
  .conteiner {
    height: 100%;
    grid-template-columns: 90%;
    grid-template-rows: 6rem 44rem 35.5rem 30.1rem 5rem;
    grid-column-gap: 0;
    grid-template-areas: 'nav' 'main' 'sidebar' 'bottom' 'footer';
  }

  /*Nav*/
  
  nav {
    margin-top: 2rem;
  }
  
  /*Main*/

  .nav-logo {
    height: 2rem;
    margin-left: 0.5rem;
  }

  .main-img {
    background: url(../assets/images/image-web-3-mobile.jpg) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 18rem;
  }

  .main-section-content {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 7.8rem 6.37rem 2.7rem;
    grid-template-areas: 'h1-main' 'p-main' 'button';
    grid-row-gap: 1.5rem;
  }
  .main-section-content h1 {
    line-height: 2.6rem;
    font-size: 2.8rem;
  }
  .main-section-content p {
    font-size: .95rem;
    letter-spacing: -.02rem;
    line-height: 1.6rem;
  }
  .main-section-content button {
    font-size: .75rem;
    margin-top: 0;
    width: 11.3rem;
    height: 2.7rem;
  }
  
  /* Sidebar */
  
  .article-sidebar h2 {
    margin: 0;
    font-size: 2rem;
  }
  .article-sidebar p {
    width: 97%;
    font-size: .9rem;
    line-height: 1.8rem;
    margin-bottom: 1.7rem;
  }
  .article-sidebar p:last-child{
    margin-bottom: 0;
  }
  
  .article-sidebar p b {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  
  /* Article Bottom */
  
  .article-bottom {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    grid-template-rows: repeat(3, 1fr);
  }
  
  .article-bottom-section {
    grid-template-columns: 7rem 13.3rem;
    grid-template-rows: 2.5rem 2.2rem 4rem;
    grid-column-gap: 1rem;
  }
  .article-bottom-section:nth-child(2) {
    margin-left: 0;
    grid-template-columns: 7rem 13.3rem;
  }
  
  .article-bottom img {
    height: 8.7rem;
    width: 7rem;
  }
  
  .article-bottom h3 {
    font-size: 2.1rem;
  }
  
  .article-bottom b {
    letter-spacing: -0.03rem;
    line-height: 2.8rem;
    font-size: 1.1rem;
  }
  .article-bottom p {
    margin-top: 0.6rem;
    line-height: 1.6rem;
    font-size: 0.9rem;
  }
  
  /* Footer */
  
  .footer-attribution {
    margin-bottom: 1rem;
  }
  
  /* Menu */

  .nav-ul {
    display: none;
  }

  .conteiner-menuBar{
    position: fixed;
    left: 8.5rem;
    width: 64%;
    height: 100vh;
    background-color: white;
  }

  .menuBar-ul {
    position: relative;
    display:inline-block;
    padding-left: 2rem;
    top: 9rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .menuBar-ul li {
    margin-bottom: 1.8rem;
  }

  .nav-menu {
    margin-top: .4rem;
    justify-self: flex-end;
    display: inline;
  }

  .nav-menuClose {
    position: fixed;
    z-index: 999;
    justify-self: flex-end;
    display: inline;
  }
}



