* {
  font-family: Inter, sans-serif;
}

body {
  font-size: 0.9rem;
  margin: 0;
}

.conteiner {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 40rem 20rem;
  grid-template-rows: 5.5rem 31rem 10.7rem 3rem;
  grid-column-gap: 1.5rem;
  grid-template-areas: 'nav nav'
                       'main sidebar'
                       'bottom bottom'
                       'footer footer';
}

/* Nav */
nav {
  margin-top: 1rem;
  grid-area: nav;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: flex-end;
}

.nav-logo {
  height: 2.2rem;
  margin-left: 0.5rem;
}

.nav-ul {
  display: flex;
  list-style-type: none;
  gap: 2.3rem;
}

.nav-menu {
  display: none;
}


/* Main */
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.main-img {
  background: url(../assets/images/image-web-3-desktop.jpg) no-repeat;
  background-size: 100% 100%;
  width: 40rem;
  height: 18rem;
}

.main-section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'h1-main p-main'
                       'h1-main button';
}

.main-section-content h1 {
  grid-area: h1-main;
  margin: 0;
  line-height: 3.2rem;
  font-size: 3rem;
  font-weight: 800;
  color: hsl(240, 100%, 5%);
}
.main-section-content p {
  grid-area: p-main;
  line-height: 1.4rem;
  margin: 0;
  font-weight: 300;
  color: hsl(240, 100%, 5%);
}
.main-section-content button {
  grid-area: button;
  width: 10.8rem;
  height: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.26rem;
  margin-top: 1.8rem;
  border: 0;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
}


/* Sidebar */

.article-sidebar {
  grid-area: sidebar;
  height: 28.4rem;
  padding: 1.3rem;
  background-color: hsl(240, 100%, 5%);
}

.article-sidebar h2 {
  margin: 0;
  margin-top: .5rem;
  font-size: 2.3rem;
  color: hsl(35, 77%, 62%);
}

.article-sidebar p {
  font-size: 0.88rem;
  width: 17rem;
  line-height: 1.5rem;
  color: hsl(233, 8%, 79%);
  margin-top: 1.4rem;
  margin-bottom: 1.7rem;
}

.article-sidebar p b {
  font-weight: 700;
  font-size: 1.18rem;
  line-height: 2.5rem;
  color: hsl(36, 100%, 99%);
}


/* Article-Bottom */

.article-bottom {
  grid-area: bottom;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 18rem 19.5rem 18rem;
  grid-template-rows: 7rem;
  grid-column-gap: 2rem;
}

.article-bottom-section {
  display: grid;
  grid-template-columns: 5.6rem 11.4rem;
  grid-template-rows: 2rem 2rem 3rem;
  grid-column-gap: 1rem;
  grid-template-areas: 'img-bottom h3-bottom'
                       'img-bottom b-bottom'
                       'img-bottom p-bottom';
}
.article-bottom-section:nth-child(2){
  grid-template-columns: 5.6rem 12.9rem;
}
.article-bottom-section:nth-child(2) p{
  width: 11.4rem ;
}

.article-bottom img {
  grid-area: img-bottom;
  height: 7rem;
  width: 5.6rem;
}

.article-bottom h3 {
  grid-area: h3-bottom; 
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(233, 8%, 79%);
}

.article-bottom b {
  grid-area: b-bottom;
  font-weight: 800;
  line-height: 2rem;
  font-size: 0.96rem;
}

.article-bottom p {
  grid-area: p-bottom;
  margin-top: 0.2rem;
  line-height: 1.3rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: hsl(236, 13%, 42%);
}


/* Footer */

.footer-attribution {
  grid-area: footer;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-align: center;
}
.footer-attribution a {
  color: hsl(228, 45%, 44%);
}

/* Hover */

.nav-ul li:hover {
  cursor: pointer;
  color: hsl(5, 85%, 63%);
}

.main-section-content button:hover {
  cursor: pointer;
  background-color: hsl(240, 100%, 5%);
}

.article-sidebar p b:hover {
  color: hsl(35, 77%, 62%);
}

.article-bottom b:hover {
  color: hsl(5, 85%, 63%);
}